{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/vlsite/css/arts.css') }}" type="text/css" media="all">
{% endblock %}

{% block sidebar %}
    {% include 'menu_1.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'carousel.html.twig' %}
            {#  <ul id="entities"> #}

        </div>
    </div>
{% endblock %}